.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: royalblue;

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;
    
    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }

  .logo {
    width: 15%;
    height: 90%;
    color: white;
    padding-left: 10px;
    padding-top: 20px;
    align-items: left;
  }
}